version: '3.8'

services:
  auth_db:
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: auth
      POSTGRES_PASSWORD: auth
      POSTGRES_DB: auth
    ports:
      - "5433:5432"
    volumes:
      - auth_postgres_data:/var/lib/postgresql/data
    networks:
      microservices-net:
        aliases:
          - auth

volumes:
  auth_postgres_data:

networks:
  microservices-net:
    driver: bridge
